<div id="quiz-container" data-quiz-id="{{this.id}}">
    {{#each this.questions as |question questionIndex|}}
    <div class="question question-{{questionIndex}}">
        <h3>{{question}}</h3>
        <ol>
            {{#each (lookup ../this.answers questionIndex) as |answer answerIndex|}}
            <li>
                <button class="answer-btn answer-{{answerIndex}}"
                    onclick="handleAnswerClick('{{questionIndex}}', '{{answerIndex}}')">
                    {{answer}}
                </button>
            </li>
            {{/each}}
        </ol>
        <hr />
    </div>
    {{/each}}
</div>

<script src="/js/quizzes.js"></script>