{{#each this.questions as |question questionIndex|}}
<div class="question">
    <h3>{{question}}</h3>
    <ol>
        {{!-- Logging specific answers array --}}
        {{console_log (lookup ../this.answers questionIndex)}}

        {{#each (lookup ../this.answers questionIndex) as |answer answerIndex|}}
        <li>
            <button class="answer-btn" onclick="handleAnswerClick(
                '{{questionIndex}}',
                 '{{answerIndex}}')">
                {{answer}}
            </button>
        </li>
        {{/each}}
    </ol>
    <hr />
</div>
{{/each}}
{{ console_log this.correct_answers answerIndex }}
{{!--
<script>
    var correctAnswers = {{{ this.correct_answers answerIndex }}};
    console.log(correctAnswers);
</script> --}}
<script src="/js/quizzes.js"></script>